@page "/"
@using DallEImageGenerationDemo.Utility
@using DallEImageGenerationImageDemoV4.Models
@using DallEImageGenerationImageDemoV4.Utility
@using OpenAI.Images

<PageTitle>Home</PageTitle>
<h3>Generate OpenAI DALL-e-3 image</h3>

<div class="container mt-4">

    <!-- Spinner at the top -->
    @if (IsLoading)
    {
        <div class="d-flex justify-content-center mb-4">
            <div class="spinner-border text-primary" role="status">
                <span class="visually-hidden">Loading...</span>               
            </div>

            <p>Dall-3-e image being created.. </p>
        </div>
    }
    <EditForm Model="@homeModel" OnValidSubmit="HandleValidSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="row">
            <!-- Column 1: Form Inputs -->
            <div class="col-md-6">
                <div class="form-group">
                    <label for="Description" class="form-label fw-bold">Description</label>
                    <InputTextArea id="Description" placeholder="Enter your description for the DALL-e-3 image to create" name="Description" @bind-Value="homeModel.Description" class="form-control" />
                    <ValidationMessage For="@(() => homeModel.Description)" class="text-danger" />

                    <button id="suggestbtn" type="button" class="btn btn-outline-secondary" @onclick="HandleGenerateText"
                            title="OpenAI generation will generate this kind of description: Suggests a cozy vivid location set in Norway showing outdoor scenery in good weather at different places and with nice weather aimed to attract tourists. Avoid making a cartoonish look, must look realistic.">
                        <i class="bi bi-info-square"></i> Suggest description
                    </button>
                </div>

                <br />

                <div class="form-group">
                    <label for="Quality" class="form-class fw-bold">GeneratedImageQuality</label>
                    @EnumHelper.GenerateEnumDropDown(homeModel.Quality, EventCallback.Factory.Create<ImageQuality>(this, v => homeModel.Quality = v), () => homeModel.Quality)
                    <ValidationMessage For="@(() => homeModel.Quality)" class="text-danger" />
                </div>
                <div class="form-group">
                    <label for="Size" class="form-label fw-bold">GeneratedImageSize</label>
                    @EnumHelper.GenerateEnumDropDown(homeModel.Size, EventCallback.Factory.Create<ImageSize>(this, v => homeModel.Size = v), () => homeModel.Size)
                    <ValidationMessage For="@(() => homeModel.Size)" class="text-danger" />
                </div>
                <div class="form-group">
                    <label for="Style" class="form-label fw-bold">GeneratedImageStyle</label>
                    @EnumHelper.GenerateEnumDropDown(homeModel.Style, EventCallback.Factory.Create<ImageStyle>(this, v => homeModel.Style = v), () => homeModel.Style)
                    <ValidationMessage For="@(() => homeModel.Style)" class="text-danger" />
                </div>
                <br />
                <button type="submit" class="btn btn-lg btn-success" disabled="@IsLoading"><i class="bi bi-magic"></i>&nbsp;Submit</button>
                <br /><br />
            </div>

            <!-- Column 2: Generated Image -->
            <div class="col-md-6">
                @if (!string.IsNullOrWhiteSpace(ImageData))
                {
                    <div class="card-body">
                        <div class="card-header"><b>Generated DALL-e-3 image</b></div>
                        <img src="@ImageData" title="Generated DALL-e image" class="img-fluid" />
                    </div>
                }
            </div>
        </div>
    </EditForm>
</div>

<!-- Bootstrap Modal -->
<div class="modal fade justify-content-center" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="imageModalLabel">Generated Image</h5>
                <p class="text-muted text-sm-center">@homeModel.Description</p>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <img src="@ImageData" alt="Generated Image" class="img-fluid" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
